{% extends 'base.html' %}
{% block conteudo %}


  <img src="../static/imagens/imagem4.png" class="img-fluid" alt="Imagem responsiva">


  <h2>SUPORTE</h2>
  <div class="texto2">
    <p>Precisa de ajuda? Nossa equipe de suporte está pronta para responder a qualquer dúvida que você tenha.</p>
  </div>

  <form>
    <label>Endereço de Email: </label>
    <input type="text"/><br><br>

    <label>Mensagem: </label>
    <input type="text" /><br><br>

    <button>Enviar</button>

  </form>

  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © TechSoluciona
    </div>
    <!-- Copyright -->
  </footer>

{% endblock %}